#background {
  position: fixed;
  background: url('../img/slovenian_alps.jpg') no-repeat center center;
  width: 100%;
  height: 100%;
  z-index: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a {
  color: white;
}

textarea:focus, input:focus{
    outline: none;
}

::-webkit-input-placeholder {
   color: white;
   opacity: 0.7;
}

:-moz-placeholder { /* Firefox 18- */
  color: white;
  opacity: 0.7;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: white;
  opacity: 0.7;
}

:-ms-input-placeholder {
  color: white;
  opacity: 0.7;
}

#photoCredit {
  font-size: 1em;
  position: relative;
  top: 95%;
  color: white;
  font-family: "Open Sans";
  font-weight: 300;
}

.vertCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.currentHour {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 10em;
  color: white;
  margin-top: 120px;
  margin-bottom: -15px;
  padding-top: 0;
  padding-bottom: 0;
}

.greeting {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 4em;
  color: white;
  margin-bottom: 10px;
}

.nameField {
  border: 0px solid white;
  border-bottom-width: 3px;
  background-color: transparent;
}

input[type="text"] {
    width: 300px;
}

.motivation {
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 1.5em;
  color: white;
  margin-bottom: -30px;
}

.forecast {
  position: relative;
  padding-top: 20vh;
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 1.5em;
  color: white;
}

.weather {
  padding-top: 0px;
  position: relative;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 1.2em;
  color: white;
}

.borderRight {
  display: table;
  border-right: 1px solid white;
}
